@keyframes visible {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* width */
::-webkit-scrollbar {
width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: #00000063;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #233B3D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #000;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

@media (min-width: 2000px) {
	html {
		font-size: 11px;
	}
}

@media (min-width: 2400px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 310px) {
	html {
		font-size: 7px;
	}
}

body {
	font-family: 'Rajdhani', sans-serif;
	letter-spacing: .5px;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h2 {
	font-size: 4rem;
	font-weight: normal;
}

input, button, select {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

.btn {
	padding: 1.5rem 3rem;
	font-size: 2.2rem;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 15px;
	color: white;
	font-family: inherit;
	letter-spacing: 1px;
}

.btn-large {
	padding-left: 4.5rem !important;
	padding-right: 4.5rem !important;
}

.bg-dark {
	background-image: linear-gradient(180deg, #233B3D 0%, #112327 100%);
}

button.bg-dark:active {
	background-image: linear-gradient(0deg, #233B3D 0%, #112327 100%);
}

.bg-slate {
	background-image: linear-gradient(180deg, #649094 0%, #2F4B51 100%);
}

button.bg-slate:active {
	background-image: linear-gradient(0deg, #649094 0%, #2F4B51 100%);
}
