@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Global Style settings */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
::placeholder{
    margin-left: 2rem;
}
p.user__name{
    font-size: 1.4rem;;
}
/* Colors */
:root{
    --color-primary: #e67e22;
    --bg-primary: #ecf0f1;
    --text: #16191a;
    --text-second: #ffffff;
    --hover: #81ecec;
    --hover-text-color: #1c3183;
    --share-icon: #4cd137;
    --rating: #01ac89;
    --active-off: #d69c30;
    --active-on: #4cd137;
    --trophy: #60bdaa;
    --header-footer-color: #2271cc;
    --underline: #576574;
    --header-footer-icon: #8395a7;
    --header-footer-text-color: #ecf0f1;
    --color-danger: #aaca1b;
}

/* Header footer font size */
:root{
    --header-footer-font-size: 1.8rem;
}

/* Sidebar */
.sidebar{
    background-color: #757575;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 29rem;
    height: 100vh;
    z-index: 1000;
}
.sidebar__text{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--bg-primary);
    padding: 1.5rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid #adaeaf;
}
.nav__item{
    position: relative;
}
.nav__item::before{
    content: "";
    position: absolute;

}
.nav__link{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: start;
    color: var(--text-second);
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d6d6d6;
}
.nav__link:hover{
    color: var(--header-footer-text-color);
    background-color: #130f40;
    transition: .6s ease-in-out;
}

/* Main section */
.whole__content{
    margin-left: 30rem;
}
.header{
    position: fixed;
    top: 0;
    width: calc(100% - 30rem);
    height: 5rem;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1000;
}
.pages{
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages i{
    margin: 0 .8rem;
    cursor: pointer;
    font-size: 2.8rem;
}
.price__box{
    color: var(--header-footer-text-color);
}
.lbl{
    font-size: var(--header-footer-font-size);
    margin-right: .5rem;
}
.selection__form{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
}
.opt{
    border: none;
    outline: none;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-color);
}
.bars, 
.four__square{
    color: #dff9fb;
    font-size: var(--header-footer-font-size);
    border: 1px solid rgb(250, 250, 252);
    padding: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.filter__form input{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
}
.search__box{
    position: relative;
    margin: 0;
    width: 20%;
    background: var(--header-footer-text-color);
    height: 2.5rem;
}
input[type=text]{
    background: rgb(255, 255, 255);
    height: 2.5rem;
    margin: 0;
    padding: .5rem;
    width: 90%;
    border: none;
    outline: none;
}
.search__box i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-text-color);
    background-color: var(--header-footer-color);
    padding: .4rem .5rem;
    cursor: pointer;
}
.search__box__res{
    display: none;
}
.ranges{
    display: none;
}
.range{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.range p{
    color: var(--hover-text-color);
}
.ranges .slider1{
    height: .7rem;
    -webkit-appearance: none;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: inset 0 .5rem 2rem rgba(255, 255, 255, 0.8);
    outline: none;
}
.ranges .slider2{
    height: .7rem;
    -webkit-appearance: none;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: inset 0 .5rem 2rem rgba(255, 255, 255, 0.8);
    outline: none;
}
.slider1::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    background-color: var(--color-primary);
    cursor: pointer;
}
.slider2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    background-color: var(--share-icon);
    cursor: pointer;
}
.toggle__btn{
    color: var(--bg-primary);
    font-size: 2rem;
    display: none;
}

/* Footer area */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 30rem;
    height: 5rem;
    width: calc(100% - 30rem);
    background: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--header-footer-text-color);
}
.page__count{
    font-size: var(--header-footer-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__count_no{
    margin-right: .5rem;
}
.page__count i{
    margin: 0 .5rem;
    cursor: pointer;
    font-size: 2.8rem;
}
.page__no{
    margin: 0 .7rem;
    border: .1rem solid var(--header-footer-icon);
    padding: 0 1rem;
    border-radius: 1rem;
}

/* Card area */
.cards__area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh - 10rem;
    /* background-color: #dfe6e9; */
}
/* ---old val ---
.cards{
    margin: 6rem auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.3rem;
    box-sizing: border-box;
}
.card__item{
    min-height: 30rem;
    min-width: 25rem;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow .6s;
} */
.cards{
    margin: 6rem auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 1.1rem;
    box-sizing: border-box;
}
.card__item{
    min-height: 30rem;
    min-width: 20rem;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow .6s;
   
}
.check{
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}
.card_item_width{
    max-width: 275px;
}
.card__item:hover{
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.7);
}

/* Card inner design */
.card__header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile__img{
    padding: .5rem;
    margin-top: .5rem;
    border: 2px solid rgb(24, 13, 54);
    border-radius: 5rem;
}
.first_row_1{
    font-size: 2rem;
    font-weight: 500;
    margin-right: .5rem;
}
.name__place{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}
.user__place{
    font-size: 1.8rem;
    margin-right: 1rem;
    font-weight: bolder;
   
}
.race__branch{
margin-left: 30px;
}
.race__name__year{
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    font-size: 1.2rem;
}
.race__name{
    margin-right: .5rem;
}
.trophy__quantity{
    display: flex;
    align-items: center;
}
.trophy{
    margin-right: 1rem;
    width: 2rem;
}
.quantity{
    width: 2.3rem;
}
.flag__status{
    display: flex;
    justify-content: initial;
    align-items: center;
}
.flag__status i{
    font-size: 1.3rem;
    margin-right: .8rem;
    color: var(--active-off);
}
.card__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    font-weight: 600;
    overflow: hidden;
}
.card__content .right{
    text-align: right;
}

.club__flag__name{
    display: flex;
    justify-content: center;
}
.club__flag__name img{
    margin-right: .5rem;
}
.card__footer{
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}
.icons{
    font-size: 2.5rem;
    padding: 0 .5rem;
}
.share{
    color: var(--share-icon);
}
.square{
    color: var(--color-primary);
}
.card__footer__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.more__button{
    font-size: 1.5rem;
    color: var(--bg-primary);
    background: var(--color-primary);
    padding: .5rem 1.2rem;
    border-radius: .5rem;

}
.like__sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.like__sec i{
    font-size: 2rem;
    margin-right: .5rem;
    color: red;
}
.rating__star{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.close__button{
    background-color: var(--color-danger);
    font-size: 1.5rem;
    color: var(--bg-primary);
    padding: .5rem 1.2rem;
    border-radius: .5rem;
}
.close-btn{
    margin-right: .5rem;
}
#popup{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    padding: 5rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition: 0.5s;
    z-index: 3000;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 1);
}
#popup .card__header .name__place .user__name{
    font-size: 3rem;
    font-weight: 600;
}
#popup .card__header .race__name__year{
    font-size: 1.7rem;
}
#popup .card__footer .icons{
    font-size: 4rem;
}
#popup .flag__status i{
    font-size: 2rem;
}
#popup .flag__status img{
    width: 5rem;
}
#popup .card__footer .card__footer__main .rating__star{
    font-size: 2.2rem;
}
#popup .card__footer .card__footer__main .like__sec{
    font-size: 1.9rem;
    font-weight: 500;
}

/* Chat Button */
.chat__btn{
    position: relative;
}
.chat__btn i{
    position: fixed;
    z-index: 2000;
    bottom: 5.5rem;
    right: 2rem;
    font-size: 2rem;
    background: var(--share-icon);
    padding: 1.5rem;
    color: #ffffff;
    box-shadow: 0 0 30px rgba(174, 240, 240, 0.281);
}
.chat__box{
    position: relative;
}
.chat__box .form{
    position: fixed;
    z-index: 2000;
    bottom: 11rem;
    right: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}
.form .textarea{
    outline: none;
    border: none;
    resize: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    background: #ffffff;
    height: 30rem;
    width: 30rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.form.active{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    z-index: 2000;
    background-color: #ffffff;
}
.frm__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.frm__btn button{
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 1rem 3rem;
    cursor: pointer;
    margin: 1rem;
    letter-spacing: 2px;
}
.frm__btn .close{
    background-color: red;
    color: white;
    font-size: 1.4rem;
}
.close i{
    margin-right: .5rem;
}
.frm__btn .submit{
    background-color: var(--share-icon);
    color: white;
    font-size: 1.4rem;
}
.submit i{
    margin-left: .5rem;
}
::placeholder{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.sub__menu{
    position: absolute;
}
.catagory{
    position: relative;
    top: 5rem;
    left: 57rem;
    height: 40rem;
    width: 30rem;
    background-color: #ffffff;
    display: block;
    box-shadow: 0 1.5rem 5rem #757575;
    z-index: 200000;
    display: none;
}
.sub__catagory__1{
    background-color: #757575;
    padding: 2rem;
}
.sub__catagory__1 label{
    color: #ffffff;;
}
.catagory.active{
    display: block;
    margin: auto;
    max-height: 30rem;
    overflow-y: scroll;
}
.catagory input[type=checkbox]{
    margin-right: 1rem;
}
.sub__catagory__2{
    padding: 2rem;
}
.sub__catagory__3{
    background-color: #757575;
    padding: 2rem;
}
.sub__catagory__3 label{
    color: #ffffff;
}
.catagory label{
    font-size: 1.6rem;
}
.sub__catagory{
    margin-left: 2rem;
}
.sort{
    position: relative;
    top: 5rem;
    left: 57rem;
    height: 30rem;
    width: 23rem;
    background-color: #ffffff;
    display: block;
    box-shadow: 0 1.5rem 5rem #757575;
    z-index: 200000;
    display: none;
}
.sub__sort__1{
    background-color: #757575;
    padding: 2rem;
}
.sub__sort__1 label{
    color: var(--hover-text-color);
}
.sort.active{
    display: block;
}
.sort input[type=checkbox]{
    margin-right: 1rem;
}
.sub__sort__2{
    padding: 2rem;
}
.sub__sort__3{
    background-color: #757575;
    padding: 2rem;
}
.sub__sort__3 label{
    color: var(--hover-text-color);
}
.sort label{
    font-size: 1.6rem;
}
.sub__sort{
    margin-left: 2rem;
}
/* Media Queries */
@media screen and (max-width:669px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .pages,
    .header .price__box,
    .header .bars,
    .header .four__square,
    .header .filter__form,
    .header .search__box{
        display: none;
    }
    .header .search__box__res{
        display: block;
        margin-right: 2rem;
    }
    .input[type=text]{
        padding: 0 1rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.92);
        color: rgb(24, 13, 54);
        font-weight: 500;
    }
    .header .ranges{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .range{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .range p{
        margin-right: 1rem;
        font-size: 1.7rem;
    }
    .range .filter{
        margin-left: 1.5rem;
    }
    .slider1,
    .slider2{
        width: 60%;
    }
    .header .toggle__btn{
        display: block;
        margin-left: 1rem;
    }
    .sidebar{
        top: 5rem;
        left: -30rem;
        transition: left 0.6s ease;
    }
    .sidebar .sidebar__text{
        font-size: 1.4rem;
        color: #ffffff;
    }
    .sidebar .nav__link{
        font-size: 1.3rem;
    }
    .whole__content{
        margin: 0;
    }
    .sidebar.active{
        top: 5rem;
        left: 0;
        transition: left 0.6s ease;
    }
    .footer{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .card__item{
        padding: 1rem;
            max-width: 100%;
    }
    .card__item#popup{
        padding: 2rem;
    }
    #popup .card__footer .icons{
        font-size: 2.5rem;
    }
    #popup .card__footer .card__footer__main .rating__star{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .close__button{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .more__button{
        display: none;
    }
    .card__item{
        width: 100%;
        min-height: 3rem;
    }
    .card__item#popup{
        padding-top: 18rem;
        width: 100%;
        height: 100vh;
    }
    .card__item#popup .card__content{
        display: flex;
    }
    .card__content{
        display: none;
    }
    .card__header{
        border-bottom: none;
        margin-bottom: 0;
    }
    .card__footer{
        border-top: none;
        margin-top: 0;
    }
    .chat__btn i{
        right: 1rem;
        bottom: 1rem;
    }
    .chat__box .form{
        right: 1rem;
        bottom: 7rem;
    }
    .catagory.active {
        left: 50%;
    }
}

/* For tablet devices */
@media screen and (min-width:670px) and (max-width:1024px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .pages,
    .header .price__box,
    .header .bars,
    .header .four__square,
    .header .filter__form,
    .header .search__box{
        display: none;
    }
    .header .search__box__res{
        display: block;
        width: 35%;
    }
    .input[type=text]{
        padding: 0 1rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.92);
        color: rgb(24, 13, 54);
        font-weight: 500;
    }
    .header .ranges{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .range{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .range p{
        margin-right: 1rem;
        font-size: 1.7rem;
    }
    .range .filter{
        margin-left: 2rem;
    }
    .slider2{
        margin-left: 1rem;
    }
    .header .toggle__btn{
        display: block;
        font-size: 3rem;
    }
    .sidebar{
        top: 5rem;
        left: -30rem;
        transition: left 0.6s ease;
    }
    .sidebar .sidebar__text{
        font-size: 1.8rem;
        color: #ffffff;
    }
    .sidebar .nav__link{
        font-size: 1.6rem;
    }
    .whole__content{
        margin: 0;
    }
    .sidebar.active{
        top: 5rem;
        left: 0;
        transition: left 0.6s ease;
    }
    .footer{
        display: none;
    }
    .cards__area{
        margin: 0 1rem;
    }
    .cards{
        display: grid;
    }
    .card__item{
        padding: 1rem;
    }
    .card__item#popup{
        padding: 2rem;
    }
    #popup .card__footer .icons{
        font-size: 2.5rem;
    }
    #popup .card__footer .card__footer__main .rating__star{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .close__button{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .more__button{
        display: none;
    }
    .card__item{
        width: 100%;
        min-height: 3rem;
    }
    .card__item#popup .card__content{
        display: flex;
    }
    .card__content{
        display: none;
    }
    .card__header{
        border-bottom: none;
        margin-bottom: 0;
    }
    .card__footer{
        border-top: none;
        margin-top: 0;
    }
    .chat__btn i{
        right: 1rem;
        bottom: 1rem;
    }
    .chat__box .form{
        right: 1rem;
        bottom: 7rem;
    }
}



.grid>.grid-item {
    display: flex;
    align-content: stretch;
    align-items: stretch;
}
/* starrs */
/* starrs */
@import "lesshat";

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
    zoom: 0.8;
}
    .star-ratings-sprite-rating {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
      background-position: 0 100%;
      float: left;
      height: 21px;
      display:block;
    
    }
    
  
  