/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
/* Global Style settings */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* scroll-behavior: smooth; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    /* font-size: 10px; */
}


/* Colors */
:root{
    --color-primary: #e67e22;
    --bg-primary: #ecf0f1;
    --text: #16191a;
    --text-second: #ffffff;
    --hover: #81ecec;
    --hover-text-color: #1c3183;
    --share-icon: #4cd137;
    --rating: #01ac89;
    --active-off: #d69c30;
    --active-on: #4cd137;
    --trophy: #60bdaa;
    --header-footer-color: #2271cc;
    --underline: #576574;
    --header-footer-icon: #8395a7;
    --header-footer-text-color: #16191a;
    --white:white;
    --color-danger: #aaca1b;
    --color-new-gray: rgb(146, 171, 207);
    --background-color:rgb(15, 23, 36);
    --color-red:red;
}

/* Header footer font size */
:root{
    --header-footer-font-size: 1.8rem;
}
.root{
    background-color: --background-color;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
::placeholder{
    margin-left: 2rem;
}
#root{
    background-color: --background-color;
}

.main_head_mobileNew,
.main_head_mobile{
    display: none;
}
.nav__item{
    position: relative;
}
.nav__item::before{
    content: "";
    position: absolute;

}
.subnav {
    overflow: hidden;
}
.subnav .nav__item {
    border: none;
    outline: none;
    color: --white;
    background-color: inherit;
    /* font-family: inherit; */
    margin: 0;
}
.nav__item:nth-child(12){
    border:none;
}
.subnav-content {
    display: none;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fa.fa-recycle.red {
    color: --color-red
}
.fa.fa-trash-alt.red {
    color: --color-red
}


.subnav-content a {
    color: --white;
    text-decoration: none;
}
.subnav .subnav-content.active {
    display: block;
}
.nav__link{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: start;
    /* color: var(--text-second); */
    color: #92abcf;
    /* color: rgb(146, 171, 207); */
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d6d6d6;
}
.nav__link:hover{

    background-color:rgb(46, 65, 96);
    transition: .6s ease-in-out;
    text-decoration: none;
    color: rgb(17, 236, 229);
}
.fa-caret-down ,.fa-caret-right,.fa-caret-up
{
    margin-left: 1rem;
    margin-right: 1rem;
}
.standing{
 display: none;    
}
/* Main section */
.whole__content{
    margin-left: 30rem;
}
.header{
    position: fixed;
    top: 0;
    width: calc(100% - 30rem);
    height: 5rem;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1000;
}
.opt.sortItem{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pages{
    font-size: var(--header-footer-font-size);
    /* color: var(--header-footer-text-color); */
    color:  var(--color-new-gray);   
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages i{
    margin: 0 .8rem;
    cursor: pointer;
    font-size: 2.8rem;
}
.price__box{
    color: var(--header-footer-text-color);
}
.lbl{
    font-size: var(--header-footer-font-size);
    margin-right: .5rem;
}
.selection__form{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    color:  var(--color-new-gray);   
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
    
}
.scrollHide{
display: none;
}
.opt{
    border: none;
    outline: none;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-color);
}
.bars, 
.four__square{
    color: #dff9fb;
    font-size: var(--header-footer-font-size);
    /* border: 1px solid rgb(250, 250, 252); */
    padding: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.filter__form input{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
    color:  var(--color-new-gray);   
}
.search__box{
    position: relative;
    margin: 0;
    width: 20%;
    background: var(--header-footer-text-color);
    height: 2.5rem;
}

.search__box i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--header-footer-font-size);
    /* color:rgb(146, 171, 207); */
    color: var(--color-new-gray); 
    /* color: var(--header-footer-text-color); */
    background-color: transparent;
    padding: .4rem .5rem;
    cursor: pointer;
}
.search__box__res{
    display: none;
}
.ranges{
    display: none;
}
.range{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.range p{
    color: var(--hover-text-color);
}
.ranges .slider1{
    height: .7rem;
    -webkit-appearance: none;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: inset 0 .5rem 2rem rgba(255, 255, 255, 0.8);
    outline: none;
}
.ranges .slider2{
    height: .7rem;
    -webkit-appearance: none;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: inset 0 .5rem 2rem rgba(255, 255, 255, 0.8);
    outline: none;
}
.slider1::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    background-color: var(--color-primary);
    cursor: pointer;
}
.slider2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    background-color: var(--share-icon);
    cursor: pointer;
}
.toggle__btn{
    color: var(--bg-primary);
    font-size: 2rem;
    display: none;
}
.race__branch,.race__category{
    display:none;
 }
/* Footer area */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 30rem;
    height: 5rem;
    width: calc(100% - 30rem);
    /* background: var(--header-footer-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* color: var(--header-footer-text-color); */
    background-color: rgb(29, 38, 54);
background-image: linear-gradient(to right, rgba(13, 230, 255, 0.15) 0%, rgba(201, 189, 174, 0) 25%);
box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
font-size: 16px;
font-weight: 400;
color: #92abcf;
}
Button.footer__botton{
    display: none;

}
.page__count{
    font-size: var(--header-footer-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__count_no{
    margin-right: .5rem;
}
.page__count i{
    margin: 0 .5rem;
    cursor: pointer;
    font-size: 2.8rem;
}
.page__no{
    margin: 0 .7rem;
    border: .1rem solid var(--header-footer-icon);
    padding: 0 1rem;
    border-radius: 1rem;
    color: rgb(17, 236, 229);
    font-size: 2rem;
}

/* Card area */
.cards__area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1300px;
    /* min-height: 100vh - 10rem; */
    /* background-color: #dfe6e9; */
}
/* ---old val ---*/
.cards{
    margin: 6rem auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.3rem;
    box-sizing: border-box;
}
.card__item{

    min-height: 30rem;
    min-width: 25rem;
    /* background: #fff; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    transition: box-shadow .6s;
    background: rgb(36, 54, 78);
    /* font-size: 16px; */
/* font-weight: 400; */
/* color: #92abcf; */
color: rgb(17, 236, 229);
cursor: pointer;
/* box-sizing: inherit; */
/* position: absolute; */
/* opacity: 0; */
/* transition: opacity 0.4s linear 0s; */
background: rgb(29, 38, 54);

/* background-image: linear-gradient(0deg, rgba(17, 236, 61, 0.3) 0%, rgba(255, 255, 255, 0) 37%); */
/* box-shadow: rgba(241, 239, 239, 0.16) 0px 3px 5px 0px;
transition: box-shadow 0.2s ease 0s, filter 0.2s ease 0s, background-color 0.2s ease 0s; */
box-shadow: rgba(214, 250, 9, 0.16) 0px 3px 5px 0px;
 transition: box-shadow 0.2s ease 0s, filter 0.2s ease 0s, background-color 0.2s ease 0s;
} 

.check{
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}
.card_item_width{
    max-width: 275px;
}
.card__item:hover{
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.7);
    /* background: rgb(47, 71, 102); */
    background-image: linear-gradient(0deg, rgba(17, 236, 61, 0.3) 0%, rgba(255, 255, 255, 0) 37%); 
}

/* Card inner design */
.card__header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile__img{

    /* -webkit-filter: drop-shadow(5px 5px 5px rgb(228, 226, 226)); */
  filter: drop-shadow(5px 5px 5px #222);

}
.user__name{	
    font-size: 2.3rem;	
    font-weight: 700;	
    margin-right: .5rem;	
    max-width: 18rem;
    /* min-width: 18rem; */
    text-align: right;
    /* color:turquoise; */
    /* color: #d8e4f7; */
    /* min-width: 20rem; */
}
.name__place{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}
.user__place{
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-left: .5rem;
    font-weight: 300;
    color:  rgb(250, 219, 165);
}
.race__branch{
margin-left: 30px;
}
.race__name__year{
    direction: rtl;
    display: flex;
    /* align-items: center; */
    padding: 0 .5rem;
    font-size: 1.4rem;
    /* text-align: left; */
}
.race__name{
    margin-right: .5rem;
    margin-left: 0.5rem;
}
.trophy__quantity{
    display: flex;
    align-items: center;
    margin-left: 1rem;;
}
.trophy{
    margin-right: 1rem;
    width: 2rem;
}

.quantity{
    width: 2.3rem;
}
.flag__status{
    display: flex;
    justify-content: initial;
    align-items: center;
}
.flag__status i{
    font-size: 1.3rem;
    margin-right: .8rem;
    color: var(--active-off);
}
.card__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    font-weight: 300;
    overflow: hidden;
}
.card__content .right{
    text-align: right;
}
.right p ,.left p{
    margin-bottom: 0.1em;
}
.team__flag__name{
    display: flex;
    justify-content: center;
}
.team__flag__name img{
    margin-right: .5rem;
}
.card__footer{
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0.3rem;
}
.icons{
    font-size: 2.5rem;
    padding: 0 .5rem;
}
.share{
    color: var(--share-icon);
}
.square{
    color: var(--color-primary);
}
.card__footer__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.more__button{
    font-size: 1.5rem;
    color: var(--bg-primary);
    /* background: var(--color-primary); */
    color: rgb(255, 176, 35);
    padding: .5rem 1.2rem;
    border-radius: .5rem;

}
.more__button:hover{
    color: rgb(250, 219, 165);
    text-decoration: none;
    }
.like__sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.5rem;;
}
.like__sec i{
    font-size: 2rem;
    margin-right: .5rem;
    /* color: red; */
}
.like__sec i:hover{
    font-size: 2.1rem;
}
.rating__star{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.close__button{
    background-color: var(--color-danger);
    font-size: 1.5rem;
    color: var(--bg-primary);
    padding: .5rem 1.2rem;
    border-radius: .5rem;
}
.close-btn{
    margin-right: .5rem;
}
.progress{
    /* height: 10rem; */
    position: fixed;
    left: 50%;
     top: 50%;
    /* box-shadow: 0 0 10rem rgb(211, 206, 206); */
    z-index: 1000000;
        
}
.progress {
    height: 4rem !important;
    background-color: rgb(33, 44, 61) !important;
}
#popup {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    padding: 5rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition: 0.5s;
    z-index: 3000;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 1);
}
#popup .card__header .name__place .user__name{
    font-size: 3rem;
    font-weight: 600;
}
#popup .card__header .race__name__year{
    font-size: 1.7rem;
}
#popup .card__footer .icons{
    font-size: 2.5rem;
}
#popup .flag__status i{
    font-size: 2rem;
}
#popup .flag__status img{
    width: 5rem;
}
#popup .card__footer .card__footer__main .rating__star{
    font-size: 2.2rem;
}
#popup .card__footer .card__footer__main .like__sec{
    font-size: 1.9rem;
    font-weight: 500;
}

/* Chat Button */
.chat__btn ,.mobile-up{
    position: relative;
}
.chat__btn i ,.mobile-up i{
    position: fixed;
    z-index: 2000;
    bottom: 5.5rem;
    right: 2rem;
    font-size: 2rem;
    background: var(--share-icon);
    padding: 1.5rem;
    color: --text-second;
    box-shadow: 0 0 30px rgba(174, 240, 240, 0.281);
}

.chat__box{
    position: relative;
}
.chat__box .form{
    position: fixed;
    z-index: 2000;
    bottom: 11rem;
    right: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}
.form .textarea{
    outline: none;
    border: none;
    resize: none;
    /* padding: 1.5rem; */
    font-size: 1.5rem;
    /* background: #d6fccc; */
    height: 30rem;
    /* width: 30rem; */
    font-size: 1.5rem;
    /* font-family: 'Poppins', sans-serif; */
}
.form.active{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    z-index: 2000;
    /* background-color: --text-second; */
    border:1px solid rgb(17, 236, 229);
    padding: 0.2rem;;
}
.frm__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: --text-second;
}
.frm__btn button{
    border: none;
    outline: none;
    background-color: --text-second;
    padding: 1rem 3rem;
    cursor: pointer;
    margin: 1rem;
    letter-spacing: 2px;
}
.frm__btn .close{
    background-color:  --color-red;
    color: --white;
    font-size: 1.4rem;
}
.close i{
    margin-right: .5rem;
}
.frm__btn .submit{
    background-color: var(--share-icon);
    color: --white;
    font-size: 1.4rem;
}
.filterheader{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.filterCheckbox{
    margin-top: 0.8rem;
}
.submit i{
    margin-left: .5rem;
}
::placeholder{
    font-size: 1.5rem;
    /* font-family: 'Poppins', sans-serif; */
}
.sub__menu{
    position: absolute;
}
.catagory{
    position: fixed;
    top: 5rem;
    left: 57rem;
    height: 40rem;
    width: 30rem;
    /* background-color: --text-second; */
    display: block;
    box-shadow: 0 1.5rem 5rem #757575;
    z-index: 200000;
    display: none;
    background: rgb(36, 54, 78);
    /* font-size: 16px; */
/* font-weight: 400; */
/* color: #92abcf; */
color: rgb(17, 236, 229);
}
.sub__catagory__1{
    /* background-color: #757575; */
    background-color: rgb(29, 38, 54);
    /* padding: 2rem; */
    padding-left: 2rem;
    padding-right: 2rem;
}
.sub__catagory__1 label{
    /* color: --text-second;; */
    color: var(--color-new-gray);
}


.catagory.active{
    display: block;
    margin: auto;
    max-height: 60rem;
    overflow-y: scroll;
    left:30%;
}
.catagory input[type=checkbox]{
    margin-right: 1rem;
}
.sub__catagory__2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.sub__catagory__3{
    background-color: #757575;
    padding-left: 2rem;
    padding-right: 2rem;
}
.sub__catagory__3 label{
    color: --text-second;
}
.catagory label{
    font-size: 1.6rem;
}
.sub__catagory{
    margin-left: 2rem;
}
.sort{
    position: relative;
    top: 5rem;
    left: 57rem;
    height: 30rem;
    width: 23rem;
    background-color: --text-second;
    display: block;
    box-shadow: 0 1.5rem 5rem #757575;
    z-index: 200000;
    display: none;
    color: rgb(17, 236, 229);
}
.sub__sort__1{
    background-color: #757575;
    padding: 2rem;
}
.sub__sort__1 label{
    color: var(--hover-text-color);
}
.sort.active{
    display: block;
}
.sort input[type=checkbox]{
    margin-right: 1rem;
}
.sub__sort__2{
    padding: 2rem;
}
.sub__sort__3{
    background-color: #757575;
    padding: 2rem;
}
.sub__sort__3 label{
    color: var(--hover-text-color);
}
.sort label{
    font-size: 1.6rem;
}
.sub__sort{
    margin-left: 2rem;
}

/* Media Queries ----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:669px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
        background-color: rgb(33, 44, 61);
    }
    .header .pages,
    .header .price__box,
    .header .bars
    {
        display:none;
    }
    .tdStanding{
        font-size: 1rem;
     }
     .user__name{	
        font-size: 3rem;	
        min-width: 10rem;
    }
    #popup .card__header .name__place .user__name {
        font-size: 2rem;
    }
    .header .search__box__res,
    .header .filter__form{
        display: block;
        width: 15rem;
        border-radius: .5rem;
    }

    .header .search__box{
        display: block;
        width: 11rem;
        border-radius: .5rem;
    }
    .header .selection__form{
        border-radius: .5rem;
    }
    #filter{
        border-radius: .5rem;
    }

    .header .filter__form{
        display: block;

    }
    .card_item_width{
        max-width: 100%;
    }
    .header .sort__box,
    .header .filter__form,
    .header .selection__form{
        max-width: 4rem;
    }

    .cards__area{
         min-height:  10rem;
    }
tr:hover{
        box-shadow: 0 0 1.6rem rgba(228, 13, 13, 0.7);

    }

    .progress {
        height: 4rem !important;
        background-color: rgb(33, 44, 61) !important;
    }

    .race__name__year{

        font-size: 1.5rem;
    }
    Button.footer__botton{
        display: block;
        /* color:rgb(17, 236, 61); */
        color: rgb(17, 236, 229);
        font-size: 2rem;
        }
       Button.footer__botton__hide{
         display: none;
    }
     .race__branch,.race__category{
        font-size: 2rem;
     }
    .race__name{
        margin-right: .5rem;
    }
 

    input#filter{
        width:5rem;
    }
    .header .ranges{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .range{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .range p{
        margin-right: 1rem;
        font-size: 1.7rem;
    }
    .range .filter{
        margin-left: 1.5rem;
    }
    .slider1,
    .slider2{
        width: 60%;
    }
    .header .toggle__btn{
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .whole__content{
        margin: 0;
        background: linear-gradient(45deg, #50003b, #003a82e0);
    }

    .footer{
        display: none;
    }

    .footerMobile{
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background: var(--bg-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        color: var(--header-footer-text-color);
        box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
        background-color: rgb(33, 44, 61);
    }

.total__mobile{
    font-size: var(--header-footer-font-size);
    display: flex;
    align-items: center;
    margin: 0 .7rem;
    border: .1rem solid var(--header-footer-icon);
    padding: 0 1rem;
    border-radius: 1rem;
    color: gray;
}

.total__mobile_left{
    /* font-size: var(--header-footer-font-size); */
    display: flex;
    align-items: center;
    margin: 0 .7rem;
    /* border: .1rem solid var(--header-footer-icon); */
    padding: 0 1rem;
    /* border-radius: 1rem; */
    color: rgb(122, 119, 119);
    font-size: 0.8rem;
    margin-top: -0.7rem;
}
    .cards{
        display: flex;
        flex-direction: column;
        grid-gap: 0rem;
        margin-top:3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        /* margin-bottom: 1rem; */
    }
    

  
    
    .card__item#popup{
        padding: 1rem;
    }
    #popup .card__footer .icons{
        font-size: 2.5rem;
        margin-right: 3rem;
    }
    #popup .card__footer .card__footer__main .rating__star{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .close__button{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .more__button{
        display: none;
    }
    .more__button{
        color:rgb(255, 176, 35);
    }
    .more__button:hover{
        color: rgb(250, 219, 165);
        text-decoration: none;
    }
    .card__item{
        width: 100%;
        min-height: 0;
        /* max-height: 15rem; */
    }
    .card__item#popup{
        padding-top: 2rem;
        width: 90%;
        /* height: 100vh; */
        max-width: 100vh;
        margin-top: 10%;
        margin-bottom: 110px;
     
    }
    .card__item#popup .card__content{
        display: flex;
    }
    
    .card__footer,
    .card__header,
    .card__content{
        display: none;
    }
    .card__item.active .card__header,.card__item.active .card__footer{
        display: flex;
    }
   .card__item.active .card__footer{
        justify-content: center;
    }
    .card__header{
        border-bottom: none;
        margin-bottom: 0;
    }
    .card__footer{
        border-top: none;
        margin-top: 0;
        
    }
    /* .chat__btn i{
        right: 1rem;
        bottom: 1rem;
    } */
    .chat__btn i{
        display:none;
    }
    .mobile-up{
        right: 1rem;
        bottom: 1rem;
    }

    .chat__box .form{
        right: 1rem;
        bottom: 7rem;
    }
    .catagory.active {
        display: block;
        margin: auto;
        max-height: 60rem;
        overflow-y: scroll;
        left:4%;
    }
 .standing{
display: block;
 }
     tr{
        text-align: center;
       
        /* color: --white; */
        border-radius: 3px 0 0 3px;
        border: none;
        margin: 0.3rem 0 !important;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;

    }
    td{
        height: 2rem;
        overflow: hidden;
    }
    tr.standing{
        width:100%;
       
    }
    .tdStanding{

        overflow:hidden;
        text-overflow: clip;
        white-space: pre-line;
        /* pre | nowrap | pre-wrap | pre-line | break-spaces */

        /* white-space: normal; */

    }
    .tdStanding.pos{
        width:6%;
        min-width: 5rem;
        font-size: 2rem;
        border-left: none;
    }
    .tdStanding.year{
        /* min-width:3.5rem; */
        /* width:7%; */
        min-width: 8%;
        
    }
    .tdStanding.branch{
        /* min-width:3rem; */
        width:8%;
        min-width: 8%;
        word-break: break-word !important;
        white-space: normal  !important;
    }
    .tdStanding.total_tm{
        /* min-width:4rem; */
        width:11%;
        font-size: 1rem;
        min-width: 11%;
    }
    .tdStanding.diff{
        width:11%;
        min-width: 11%;
        font-size: 0.9rem;
    }
    .tdStanding.full_name{
        width:14%;
        max-width: 14%;
        min-width: 14%;
        font-size: 1rem;
     
        text-overflow:ellipsis;
        word-break: break-word !important;
        white-space: normal  !important;
    }

    .tdStanding.event_name{
        width:11%;
        min-width: 11%;
        text-overflow:ellipsis;
        word-break: break-word !important;
        white-space: normal  !important;
    }
    .tdStanding.category{
        width:11%;
        min-width: 11%;
        text-overflow:ellipsis;
        font-size: 0.8rem;
        word-break: break-word !important;
        white-space: normal  !important;
        
    }
    .tdStanding.team{
        width:10%;
        min-width: 10%;
        max-width: 10%;
        text-overflow:ellipsis;
        font-size: 0.8rem;
  word-break: break-word !important;
  white-space: normal  !important;

        
    }

    tr td{
        /* width: 15%; */
        border-left: 1px solid rgb(214, 207, 207);
        vertical-align: middle !important; 
        background: --white;color: black;
        border-bottom: 2px solid black;
        border-top: none !important;
        vertical-align: middle !important;
        padding: 0.2rem;
    
    }
    tr td:nth-child(1){
        border-radius: 30px  0 0 30px ;
        background: #ffffff4d;
        color: --white;   
    }
    tr td:nth-child(2){
        background: --white;
        color: black;
    
    }
    tr td:nth-last-child(1){
        background: #F00044;
        border-radius: 0 30px 30px 0;
        color: --white;
       
    }
    tr td:nth-last-child(2){
  
        background: #CCCFD9;
    }

    .medal_image{

        width: 2rem;
        height: 2rem; 
    }
    .img_flag{
        display: none;

        width: 1rem;
        height: 1rem; 
    }
    .img_bike{
        width: 3rem;
        height: 3rem; 
    }
    .main_head_mobile{
        display: block;
        width: 100%;
        background: #F00044;
        color: --white;
        padding: 2px;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 1rem;
    }
    .main_head_mobileNew{
        display: block;
    }
    }
    .main_head_mobile h1{font-size: 20px;font-weight: bold;color :--white;margin-bottom: 0px;}
    .main_head_mobile h3{font-size: 20px;color: goldenrod;font-size: 18px;}
    
    .fa.fa-recycle.red{
        color: --color-red
    }
    .fa.fa-trash-alt.red {
        color: --color-red
    }
    
.chatIconHide{
    display: none;
}



/* For tablet devices -------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:810px) and (max-width:920px){
.user__place{

    font-size: 2.5rem;
    margin-right: 1rem;
    margin-left: .5rem;
    font-weight: 300;
    color:  rgb(250, 219, 165);
   
}
}
/* For tablet devices -------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:670px) and (max-width:1024px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .pages{
        display: none;
    }
    Button.footer__botton{
        display: block;
        color: rgb(17, 236, 229);
        font-size: 2rem;
    
    }
    Button.footer__botton__hide{
         display: none;
    }
    .header .price__box,
    .header .bars,
    .header .four__square,
    .header .filter__form{
        display: block;
    }
    .header .search__box__res{
        display: none;
        display: block;
        width: 35%;
    }

    .header .ranges{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .range{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .range p{
        margin-right: 1rem;
        font-size: 1.7rem;
    }
    .range .filter{
        margin-left: 2rem;
    }
    .slider2{
        margin-left: 1rem;
    }
    .header .toggle__btn{
        display: block;
        font-size: 3rem;
    }

    .whole__content{
        margin: 0;
        
    }

    .footer{
        display: none;
    }
    .footerMobile{
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background: var(--bg-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        /* color: var(--header-footer-text-color); */
        background-color: rgb(29, 38, 54);
        /* background-image: linear-gradient(to right, rgba(13, 230, 255, 0.15) 0%, rgba(201, 189, 174, 0) 25%); */
        /* box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px; */

        color: rgb(17, 236, 229);
        font-size: 2rem;

    }
    .cards__area{
        margin: 0 1rem;
    }
    .cards{
        display: grid;
    }
    .card__item{
        padding: 1rem;
    }
    .card__item#popup{
        padding: 2rem;
    }
    #popup .card__footer .icons{
        font-size: 2.5rem;
    }
    #popup .card__footer .card__footer__main .rating__star{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .close__button{
        font-size: 1.7rem;
    }
    #popup .card__footer__main .more__button{
        display: none;
    }
    .card__item{
        width: 100%;
        min-height: 3rem;
    }
    .page__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        
    
    }
    .total__mobile{
        font-size: var(--header-footer-font-size);
        display: flex;
        align-items: center;
        margin: 0 .7rem;
        border: .1rem solid var(--header-footer-icon);
        padding: 0 1rem;
        border-radius: 1rem;
        color: gray;
    }
    .card__item#popup .card__content{
        display: flex;
    }
    .card__content{
        display: none;
    }
    .card__header{
        border-bottom: none;
        margin-bottom: 0;
    }
    .card__footer{
        border-top: none;
        margin-top: 0;
    }
    .mobile-up {
        right: 1rem;
        bottom: 1rem;
    }

    .chat__btn i{
        display:none;
    }
    .chat__box .form{
        right: 1rem;
        bottom: 7rem;
    }
}



.grid>.grid-item {
    display: flex;
    align-content: stretch;
    align-items: stretch;
}
/* starrs */
/* starrs */
@import "lesshat";

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
    zoom: 0.8;
}
    .star-ratings-sprite-rating {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
      background-position: 0 100%;
      float: left;
      height: 21px;
      display:block;
    
    }
    
  
  