

.user_data{
   width:20rem;
   border: none;
   border-bottom: 1px solid #ccc;
   border-radius: 4px;
   margin: 0;
   padding: .5rem;

   /* background: rgb(217, 226, 238); */
   /* box-shadow: 0 0 10rem rgba(0, 0, 0, 1); */
   color: rgb(17, 236, 229);

}
.h_o_n_y{
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   height: 0;
   width: 0;
   z-index: -1;
}
.row{
   margin-left: 0;
   color: var(--color-new-gray);
}
.submit._close{
   background-color: tomato;
}
.form.active,.frm__btn{
   background-color: rgb(61, 67, 77);
}

.textarea{
   width: 100%;
   background-color: rgb(29, 38, 54);
   color: rgb(17, 236, 229);
   font-size: 2rem;

   ;
}