/* Sidebar */
.sidebar{
   /* background-color: #757575; */
   color: #92abcf;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   width: 29rem;
   height: 100vh;
   z-index: 1000;
   background-color: rgb(29, 38, 54);
   /* flex: 0 0 auto; */
   font-size: 14px;
   color: #92abcf;
}
.sidebar__text{
   text-align: center;
   font-size: 2.5rem;
   letter-spacing: 3px;
   font-weight: 600;
   color: #92abcf;
   padding: 1.5rem 0;
   text-transform: uppercase;
}
.version{
   font-size: 3Rem;
   
}
.navheader{
display:flex;

border-bottom: 1px solid #adaeaf;

}
.loginout{
   margin-top: 2rem;
   margin-right: 5rem;
   align-self: flex-start;
   margin-left: 0.5rem;
}
.fa-sign-in,.fa-sign-out{
   font-size: 3rem;
   color:lightskyblue;

   
}
.fa-sign-in:hover,.fa-sign-out:hover{
   text-shadow: 0 0 10px lightskyblue;
}
.fa-sign-in.hide,.fa-sign-out.hide{
   display: none;
}


.fa-sign-in{
   color: --color-red
}
.fa-sign-out{
   color:greenyellow;
}

@media screen and (max-width:669px){
   .sidebar{
      top: 5rem;
      left: -30rem;
      transition: left 0.6s ease;
  }
  .sidebar .sidebar__text{
      font-size: 1.4rem;
      color: --text-second;
  }
  .sidebar .nav__link{
      font-size: 1.3rem;
  }
  .sidebar.active{
   top: 5rem;
   left: 0;
   transition: left 0.6s ease;
}
}
@media screen and (min-width:670px) and (max-width:1024px){
   .sidebar{
      top: 5rem;
      left: -30rem;
      transition: left 0.6s ease;
  }
  .sidebar .sidebar__text{
      font-size: 1.8rem;
      color: --text-second;
  }
  .sidebar .nav__link{
      font-size: 1.6rem;
  }
  .sidebar.active{
   top: 5rem;
   left: 0;
   transition: left 0.6s ease;
}
}

