
  :root {
    --table-head:60px;
  }

  
  table {
    min-width: 100%;
    text-align: left;
    border-collapse: collapse; 
    margin-top:2.5rem;
  }

  th,td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.25rem;

  }
  tbody{
    /* margin-top:720px; */
  }
  th {
    background:DodgerBlue;
    color: white;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;
    position: sticky;
    top: var(--table-head);
    border-right:gray solid 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  text-align: left;
  text-transform: capitalize;
  vertical-align: middle;
  text-transform: uppercase;
  }
  
  th:last-child {
    border: 0;
    display: flex;
  }

  td {
    padding-bottom: 1px;
    color: #808080;
    font-size: 0.8rem;
    border-bottom: 2px solid #eef0f5;
    text-transform: lowercase;
  }
 
  /* tr:nth-child(even) td {
    background: #f2f2f5;
  } */
  .header-unit{
    /* border:1px white solid; */
    display: flex;
    /* background-color: DodgerBlue; */
    justify-content: space-between;
  }
.header-data{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  text-transform: capitalize;
  vertical-align: center;
  text-transform: lowercase;
}
.header-action{
  width:120px;

}

  .sort-order{
    font-size: 1rem;
    flex-direction: column;
    margin-left: 5px;
  }
.checkbox12222{

  top: 0;
    left: 0;
    width: 20px;
    height: 50%;
    padding: 0;
    z-index: 1;
    border: 1px solid #808080 !important;
    content: "";
    background: #FFF;
}
.colorWhite{
  color: white ;

}
.colorRed
{
  color: red !important;
}


.filter{
  /* position: fixed;
  margin-top: 100px;
  margin-left: 200PX;
  width: 200PX; */
  background-color:rgb(7, 6, 6);
  display: contents;
}
/* <i className="fa fa-filter "></i> */
/* given filter icon  */
.MuiSvgIcon-root.MuiSelect-icon {
color:white;
/* color: red !important; */
}
.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input{
 opacity: 0;
}
.MuiInput-underline:before{
border-bottom:none!important;
}
.MuiInput-underline:after{
  border-bottom:none!important;
  }
/* .upperFilter1111{
max-Width: 250px;
background-color: #FFF;
position: sticky;
top: 0;
margin-top: -8px;
height: 50px;
z-index: 10000;
} */

.filterIcon{
  float: left;
  display: flex;
  max-width: 50px;
}
.error{
  margin-top: 100px;
  color:red;
 text-align: center;
 font-size: 5rem;
}
.tablerow{
	text-align: center;
}
.tablerow:hover {
	background:lightskyblue;
}