
  

  
  table {
    min-width: 100%;
    text-align: left;
    border-collapse: collapse; 
  
  }
  
.abc{
    background-color: red;
    position: sticky;
    top: 0;
}
  
  th,td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.25rem;

  }
  
  th {

    background: #0d27f1;
    color: white;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    position: sticky;
    top: 50px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  
  th:last-child {
    border: 0;
  }

  td {
    padding-bottom: 1px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #f2f2f5;
  }
  .container{
      height: 60px;
  }


  